.header{
    height: 3rem;
    background-color:green;
    z-index: 999;
}

a{
    text-transform: uppercase;
    color:white;
    font-weight: 500;
    display: block;
    padding: 0.5rem;
}

a:hover{
    color:white;
    text-decoration: none;
}

.col-lg-2{
    text-align: center;
}