doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/header.css')
    block style
  body
    div(class="container-fluid")
      <section>
         <div class="header">
            <div class="row">
               <div class="col-lg-2"><a href="/">главная</a></div>
               <div class="col-lg-2"><a href="/shop">магазин</a></div>
               <div class="col-lg-2"><a href="/posts">блог</a></div>
               unless isLoggedIn
                <div class="offset-lg-2 col-lg-2"><a href="/login">войти</a></div>
                <div class="col-lg-2"><a href="/register">регистрация</a></div>
               else
                <div class="offset-lg-2 col-lg-2"><a href="/profile">профиль</a></div>
                <div class="col-lg-2"><a href="/logout">выйти</a></div>
            </div>
         </div>
      </section>
      block content