extends layout

block content
  if isLoggedIn
    h1(style={'text-align': "center"}) Создать новый пост
    form(method="POST")
      input(name="title" type="text")
      textarea(name="text", cols="180", rows="30")
      input(type="submit", value="Отправить")
  else
    h1 Please Log In before creating a post.