.header{
    height: 3rem;
    background-color:green;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
}

a{
    text-transform: uppercase;
    color:white;
    font-weight: 500;
    display: block;
    padding: 0.1rem;
}

a.some-class{
    color: #007bff;

}

a.some-class:hover{
    color: #007bff;   
}

a:hover{
    color:white;
    text-decoration: none;
}

.col-lg-1{
    text-align: center;
}