extends ../layout

block style
  link(rel='stylesheet', type='text/css' href='/css/form.css')

block content
  a(href="/shop/newproduct") 
    input(type='button' name='edit' class ="btn btn-info" value='Добавить новый товар')
  each product in products
    p #{product.title}  
    p #{product.type}
    p #{product.size}
    p #{product.description}
    p
      if (product['imagePath']) 
        img(src='../' + product['imagePath'])
    hr
