extends ../layout

block style
  link(rel='stylesheet', type='text/css' href='/css/form.css')

block content
    <div class="row">
        <div class="offset-lg-10 col-lg-1">
            <a href="/shop/basket"><button class="btn btn-warning basket"> КОРЗИНА</button></a>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-1 col-lg-10">
            each product in products
                <div class="product">
                    <p class="main_text">#{product['name']}</p>
                    <hr>
                    <img src= "../images/products/kpi6.jpg" class="imgProduct">
                    <p>#{product['description']}</p>
                    <p>
                        a(href="/shop/product/" + product['_id']) <button class="btn btn-outline-success">УЗНАТЬ БОЛЬШЕ О ПРОДУКТЕ</button>
                    </p>
                    <p>
                        a(href="/shop/pr
                        oduct/" + product['_id'] + "/add") <button type="button" class="btn btn-outline-warning"> ДОБАВИТЬ В КОРЗИНУ</button>
                    </p>
                    <hr>
                    <p class="price">#{product['price']} ГРН</p>
                </div>
        </div>
    </div>